/* src/styles/LoginRegisterPage.css */

.login-register-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('/public/assets/Books_and_Money_Background.jpg') no-repeat center center/cover;
  }
  
  .login-register-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .login-register-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #1E3A8A;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-bottom: 8px;
    font-size: 1em;
    color: #333;
  }
  
  form input {
    width: 100%; /* Ensure input takes up full width */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  form button {
    width: 100%; 
    background-color: #1E3A8A;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form button:hover {
    background-color: #3B82F6;
  }
  
  .toggle-button {
    background: none;
    border: none;
    color: #1E3A8A;
    cursor: pointer;
    font-size: 0.9em;
    margin-top: 20px;
  }
  
  .toggle-button:hover {
    text-decoration: underline;
  }
  
  